body{
  display:block;
  text-align: center;
}

div .header-left {
    float: left;
}
li {
	list-style: none;
	position: relative;
	display: inline-block;
	width: 300px;
	height: 300px;
	margin: auto;
	text-align: center;
	padding-top: 40px;
}
.example_e {
	border: none;
	background-image: url(../image/toy.jpg);	
	color: black;
	font-weight: bold;
	font-size: 150%;
	padding: 20px;
	text-transform: uppercase;
	border-radius: 6px;
	display: inline-block;
	width: 200px;
	height: 200px;
	display:block;
	margin:0 auto;
}
	
	
	
	
	
	

